---
layout: blog
title: blog | cadumagalhaes 
customcss: sim
css: blog
---

<style>

</style>
<div class="column">
  <div class="tab-wrap">
    {%for category in site.categories %}
    {%assign i = i | plus: 1%}
    {%assign cat = category[0]%}
    <input type="radio" name="tabGroup" id="tab_{{cat}}" class="tab" {%if i==1 %} checked {%endif%}>
    <label for="tab_{{cat}}">{{cat}}</label>
    {% endfor %}

    {%for category in site.categories%}
    {%assign i = i | plus: 1 %}
    <div class="tab__content">
      {% for post in category[1]%}
      <a href="{{post.url}}" class="post">
        <div class="card column justify-around shadow body-bg">
          <h3 class="card-title">{{post.title}}</h3>
          <div class="row tags" style="flex-wrap: wrap;flex-direction: row;">
            {%for tag in post.tags%}
            <div class="tag">{{tag}}</div>
            {%endfor%}
          </div>
          {{post.excerpt}}
          <div class="actions">
            <div class="action-buttons">
              <em class="fa fa-arrow-right"></em>
            </div>
          </div>
        </div>
      </a>


      {%endfor%}

    </div>

    {%endfor%}
  </div>
</div>