---
---

@import "{{ site.theme }}";

#header_wrap,
#footer_wrap {
  background: #01579b;
}

.inner {
  max-width: 900px;
}

body,
h1,
h2,
h3,
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: none;
  text-align: justify;
}

body {
  background: #f2f2f2;
}

#header_wrap,
#footer_wrap,
#main_content_wrap {
  border: none;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: transparent;
  color: #01579b !important;
}

.tabs .tab a {
  color: #01579c !important;
}

.tabs .indicator {
  background-color: #01579c !important;
}

#image-wrapper {
  top: 0;
  left: 0;
  height: auto;
  position: relative;
  width: 100%;
}

#image-wraper > img {
  max-width: none;
  margin: 0;
  object-fit: cover;
  padding: 0;
}

#header_wrap .inner {
  padding: 20px 10px 15px 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* needed for container min-height */
}
div#main_content_wrap {
  position: relative; /* needed for footer positioning*/
  height: auto !important; /* real browsers */
  min-height: 71%; /* real browsers */
}

#footer_wrap {
  position: absolute;
  //bottom: 0;
}

#menu_logo {
  box-shadow: none;
  max-height: 50px;
  padding: 0;
  margin: 10px auto;
}

#project_title {
  text-shadow: none;
  font-size: 40px;
  font-weight: normal;
}

@media screen and (max-width: 992px) {
  #project_tagline {
    display: inherit !important;
    position: inherit !important;
    margin: auto;
  }
}

.highlight,
.highlight code {
  background-color: #252525;
  color: #b3b9c5;
}

.highlight .nc,
.highlight .nc::selection,
.highlight .nt,
.highlight .nt::selection,
.highlight .nl,
.highlight .nl::selection {
  color: #569cd6;
}
.highlight .na,
.highlight .na::selection {
  color: #9cdcfe;
}

.highlight .s,
.highlight .s::selection,
.highlight .sb,
.highlight .sb::selection,
.highlight .sc,
.highlight .sc::selection,
.highlight .s1,
.highlight .s1::selection,
.highlight .s2,
.highlight .s2::selection {
  color: #ce9178;
}
.highlight .p,
.highlight .p::selection {
  color: #d4d4d4;
}

.highlight .k,
.highlight .k::selection,
.highlight .kd,
.highlight .kd::selection,
.highlight .kn,
.highlight .kn::selection,
.highlight .kr,
.highlight .kr::selection,
.highlight .kt,
.highlight .kt::selection {
  color: #569cd6;
}
.highlight .nf,
.highlight .nf::selection,
.highlight .nx,
.highlight .nx::selection {
  color: #d4d4d4;
}
.highlight .o,
.highlight .o::selection {
  color: #d4d4d4;
}
.highlight .c,
.highlight .c::selection,
.highlight .cm,
.highlight .cm::selection,
.highlight .cp,
.highlight .cp::selection,
.highlight .c1,
.highlight .c1::selection,
.highlight .cs,
.highlight .cs::selection {
  color: #6a9955;
}
.highlight .kp,
.highlight .kp::selection,
.highlight .nb,
.highlight .nb::selection {
  color: #9cdcfe;
}

.highlight .kc, .highlight .kc::selection {
  color: #569cd6;
}

.btn-code {
  position: absolute!important;
  right: 2%;
}

pre.highlight {
  max-width: 93%;
}

::selection {
  background-color: #ccc;
  color: white;
}


ul {
  list-style-type: square!important;
}

ul:not(.browser-default)>li, ul > li {
  list-style-type: square!important;
  margin-left: 3em;
}

nav ul:not(.browser-default)>li {
 list-style-type:none !important;
  margin-left: 0;
}
.fixed-action-btn > ul:not(.browser-default) > li{
    list-style-type: none !important;
  margin-left: 0;
}