<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

{% seo %}

    
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer red darken-4">
        <header class="inner">
          <div> 
            <h1 id="project_title" style="display: inline;">{{ site.title | default: site.github.repository_name }} </h1>
          <h2 id="project_tagline" style="display: inline; position: absolute; top: 0; right: 0;">{{ site.description | default: site.github.project_tagline }}</h2>
          </div>
           
        </header>
        <nav class="grey lighten-1" role="navigation">
          <div class="nav-wrapper container"><a id="logo-container" href="https://magalhaescarlos.github.io" class="brand-logo">logo</a>
            <ul class="right hide-on-med-and-down">
              <li class="active"><a href="https://magalhaescarlos.github.io/blog">Blog</a></li>
            </ul>
      
            <ul id="nav-mobile" class="sidenav">
              <li class="active"><a href="https://magalhaescarlos.github.io/blog">Blog</a></li>
              <!--{% for collection in site.collections %}
                <li>
                  <a href="{{ collection.url }}">{{ collection.title }}</a>
                </li>
              {% endfor %}-->
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          </div>
        </nav>
    </div>

    <!-- MAIN CONTENT -->

    <div id="main_content_wrap" class="outer">

      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer red darken-4">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright"> maintained by <a href="{{ site.github.owner_url }}">@{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
          console.log('initializing tabs')
          $('.tabs').tabs();
        });
    </script>
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
